//Variables

$main-color : hsla(39,100%,50%,1);
$main-font : Impact;

//Mix Ins

@mixin main-text-style ($size, $bgcolor) {
   color: $main-color;
   font-family: $main-font;
   font-size: $size;
   background-color: $bgcolor;
}

.box2 p {
  @include main-text-style(12px, blue);
}

.box h2 {
  @include main-text-style(20px, red);
}

.box {
	background-color: lightgrey;

	p {
		@include main-text-style(12px, white);
		padding: 15px;
	}

}